<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<head>
  <title>Bay Area Bravos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheet.css">
  <script src="js/bravo.js"></script>    
</head>
    
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" >
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <a class="navbar-brand img">
        <img src="images/bravosWeb.gif" width="50" height="80" style="padding-top:10px;">
        </a>
    </div>
      
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#team">Bravos</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Photos</a></li>
            <li><a href="#">Videos</a></li>
          </ul>
        </li>
          <li><a href="#performers">Performers</a></li>
          <li><a href="#trophy">Trophy Cabinet</a></li>
        <li><a href="#sponsors">Sponsors</a></li>  
        <li><a href="#contact">Contact Us</a></li>  
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators 
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/bravosPrisma.jpeg" alt="Summer T20 2016" width="1200" height="700">
        <div class="carousel-caption">
          <!--<h3>Summer T20 2016</h3>
          <p>Bravos...</p>-->
        </div>
      </div>   
    </div>

    <!-- Left and right controls
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</div>

<div id=team class="container text-center" ng-controller="myCtrl">
    <h3> Our <span class="secondary-title">Team</span> </h3>
    <div class="row">
        <div class="col-sm-3" ng-repeat="player in players" ng-if="player.status == 'active'">
        <p class="text-center" >
            <img ng-src={{player.imageUrl}} alt="image" class="img-circle person"><br>
            {{player.name}}
            </p>
        </div>
            
    </div>
    
</div>
    
    
 <!--Container (Top Performers Section) -->
<div id="performers" class="container text-center">
  <h3>TOP <span class="secondary-title">PERFORMERS</span></h3>
  <p><em>Premier Prestige 2016</em></p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Best Batsman</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="images/players/Barry.jpg" class="img-circle person" >
      </a>
      <div>
        <p>Barry Manogaran</p>
        <p>Total Runs: 643</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Best Bowler</strong></p><br>
     
        <a href="#demo2" data-toggle="collapse">
        <img src="images/players/KarthikRayala.jpg" class="img-circle person" >
      </a>
        
      <div>
        <p>Karthik Rayala</p>
        <p>Total wickets: 41</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Best Fielder</strong></p><br>
      <p class="text-center">
          <a href="#demo3" data-toggle="collapse">
        <img src="images/players/RamPrasad.jpg" class="img-circle person" >
      </a>
        </p>
        
      <div>
        <p>Ram Prasad</p>
          <p>Catches: 14, Stumpings: 3</p>
          
      </div>
    </div>
  </div>
</div>
    
  
    
<div id="trophy" class="container text-center" ng-controller="trophies">
    <h3>Trophy <span class="secondary-title">Cabinet</span></h3>
    <br>
    <div class="col-sm-4" ng-repeat="trophy in trophies">
    <i class="fa fa-trophy" style="font-size:48px;color:gold"></i><br>
        {{trophy.name}}
      </div>
    
    </div>
    
<div id="highlights" class="container text-center" ng-controller="highlights">
    <h3>Key <span class="secondary-title">Highlights</span></h3>
    
      <div ng-repeat="hText in highlights">
         <p>{{hText.highlight}}</p>
      </div>
      
</div>      
    
<div id="sponsors" class="container text-center">
    <h3>Our <span class="secondary-title">Sponsors</span></h3>
<br>
<div class="row">
    <img src="images/sponsors/TP-LogoWithText.jpg.jpeg" width="255" height="300">
</div>    
</div>   

<!-- Container (Contact Us Section) -->
<div id="contact" class="container text-center">
    <h3>Contact <span class="secondary-title">Us</span></h3>
  <br>
  <div class="row">
    <div>
      <p class="text-center"><strong>Please email us at <a href="mailto:admin@bayareabravos.com">admin@bayareabravos.com</a> or call us @ (925) 400-3552</strong></p><br>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>

